networks:
  youtube-trending-data-analysis:
    name: youtube-trending-data-analysis
    external: true

services:
  mongodb:
    image: mongo:8.2.3-noble
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongodb_data:/data/db
    networks:
      - youtube-trending-data-analysis

  mongo-express:
    image: mongo-express:1.0.0
    container_name: mongo-express
    ports:
      - 8111:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH: true
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongodb
    networks:
      - youtube-trending-data-analysis

volumes:
  mongodb_data:
    driver: local